
:root{
 --primaryColor: #051937;
 --secondaryColor:#be7c5d;
 --accent1:#66373D;
 --accent2:#340A13;
 --neutralColor:#A7AABD;
 --neutralColor2 : #737687;
 --primaryTextColor:white;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  color: var(--neutralColor2);
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to top, #051937, #565c77, #7d8299, #7d8299, #a7aabd);  color : white;

}
button:hover,.button:hover{
  opacity: 50%;
  
}



/* CSS */
.button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
.center{
  text-align: center;
}
.addSpaceAround{
  margin: 10px;
  
}
h1,h2{
  color: var(--primaryColor);
}
.input{
  border:solid var(--primaryColor);
  border-radius: 999px;
}

.input:focus,.button:active,button:active {
  background-color: var(--accent2);
  color: var(--primaryTextColor);
  transition: all 0.5s;

}

.button:active,button:active{
  background-color: var(--accent2);
  /*background-color: #e45757;*/
  color: var(--neutralColor2);
  transition: all 0.04s;
}

.littleText{
  font-size: 10px;
}
.button{
  position: relative;
  border-radius: 999px;
  background-color: transparent;
  border:solid var(--primaryColor);
  color : var(--primaryTextColor);
  z-index: 10;
}
button, .button{
  position: relative;
  border-radius: 999px;
  background-color: transparent;
  border:solid var(--primaryColor);
  color : var(--primaryTextColor);
  z-index: 10;
  
}

.toTheLeft{
  float: left;
}

.takeAllSpace{
  width: 100%;
}
#root,.App{
  height: 100%;
  width: auto;
}
* {
  box-sizing: border-box; /* Inclut le padding et la bordure dans la taille totale */
}
.centeredOnScreen{
  
  display: flex; /* Active Flexbox uniquement pour centrer le contenu */
    flex-direction: column; /* Empile les éléments verticalement */
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    flex-grow: 1; /* Permet à cet élément de prendre tout l'espace disponible */
    height: 100%;

  
 
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.contour {
  border: solid var(--primaryColor);
  color:  var(--primaryTextColor);
}

.addSpaceOnTop{
  margin-top: 50px;
}


.centeredDivBox{
  width: 45%;
  min-width: 600px;
  max-width: 600px;
}
.left{
  text-align: left;
}
.box{
  padding: 10px;
}
.center-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px; 
  margin-left: -50px; 
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Commentary css*/
.commentary{
  margin-left: 15%;
  background-color: var(--primaryColor);
  color: var(--neutralColor);
  margin-right: 10%;
  font-size: 20px;
  max-width: 300px;
}
.commentaryHeader{
  text-align: left;
}
.commentaryText{
  max-width: 250px;
  margin: 10px;
  overflow:auto;
  word-break: break-word;
  text-align: left;
}
.commentaryButton{
  text-align: left;
  background-color: var(--primaryColor);
}

.little{

  font-size: 10px;

}

/* popup*/
.popup{
  width: 120px;
  height: 120px;
  z-index: 20;
  position: fixed; /* Position fixe */
            left: 50%; /* Centrer horizontalement */
            top: 50%; /* Centrer verticalement */
            transform: translate(-50%, -50%); /* Ajuster le centrage */
  
}
/* Loading */

.loader {
  border: 16px solid var(--accent1); 
  border-top: 16px solid var(--primaryTextColor); 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position : sticky;
  animation: spin 2s linear infinite;
}

.loading {
  
  pointer-events: none;
 
  opacity: 0.5;
}
.square {
    height: 60px;
    width : 60px;
    background-color: white;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
