
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to right top, #051937, #412a4e, #753d5a, #a0585c, #be7c5d);
  color : white;

}
button:hover{
  opacity: 50%;
  
}



/* CSS */
.button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
.center{
  text-align: center;
}
.addSpaceAround{
  margin: 10px;
  
}
.little{
  size: 40%;
}
button, .button{
  position: relative;
  border-radius: 999px;
  background-color: transparent;
  border:solid rgb(245, 218, 168);
  color : white;
  z-index: 10;
  
}

.toTheLeft{
  float: left;
}

.takeAllSpace{
  width: 100%;
}
#root,.App{
  height: 100%;
  width: auto;
}
* {
  box-sizing: border-box; /* Inclut le padding et la bordure dans la taille totale */
}
.centeredOnScreen{
  
  display: flex; /* Active Flexbox uniquement pour centrer le contenu */
    flex-direction: column; /* Empile les éléments verticalement */
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    flex-grow: 1; /* Permet à cet élément de prendre tout l'espace disponible */
    height: 100%;

  
 
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.post{
  font-size: 20px;
  
}
.contour {
  border: solid rgb(245, 218, 168);
  color:  white;
}
.commentaryButton{
  color: #3498db;
}
.addSpaceOnTop{
  margin-top: 50px;
}
.loader {
  border: 16px solid #f8c1c1; 
  border-top: 16px solid #0e0b94; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position : sticky;
  animation: spin 2s linear infinite;
}

.centeredDivBox{
  width: 45%;
  min-width: 600px;
  max-width: 600px;
}
.left{
  text-align: left;
}
.box{
  padding: 10px;
}
.center-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px; 
  margin-left: -50px; 
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.loading {
  
  pointer-events: none;
 
  opacity: 0.5;
}
.square {
    height: 60px;
    width : 60px;
    background-color: white;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
